* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Commissioner", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  width: 90%;
}
body .header.open::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(-180deg, hsl(0deg, 0%, 0%), #fff);
  opacity: 0.5;
}
body .header-img {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  z-index: -1;
  width: 100%;
}
body .header-img source, body .header-img img {
  object-fit: contain;
  width: 100%;
}
body .header-logo {
  width: min(50%, 11.5em);
}
body .header-menuicon {
  width: min(8%, 2.2em);
  object-fit: contain;
}
body .header-list {
  display: none;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 6em;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
body .header-list-link {
  font-size: 1.5rem;
  padding: 1.7em 1.2em;
  text-decoration: none;
  border-bottom: 1.2px solid #ccc;
  color: hsl(0deg, 0%, 0%);
  font-weight: 500;
}
body .header-list-link:last-of-type {
  border-bottom: none;
}
body .header.open .header-list {
  display: flex;
}
body .main {
  margin-top: 30vw;
  width: 90%;
}
body .main-intro {
  width: 100%;
  background-color: white;
  padding: 1.5em 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.3em;
}
body .main-intro-icon {
  width: 14%;
}
body .main-intro-title {
  word-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
}
body .main-intro-desc {
  color: hsl(0deg, 0%, 48%);
  font-size: 0.9rem;
  line-height: 1.8;
}
body .main-intro-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .main-intro-buttons-back {
  width: 75%;
  padding: 1vw;
  border-radius: 12vw;
  background-color: hsl(176deg, 50%, 47%);
  font-weight: 700;
  color: white;
  border: none;
}
body .main-intro-buttons-back:hover {
  background-color: hsl(176deg, 72%, 28%);
  cursor: pointer;
}
body .main-intro-buttons-bookmark {
  width: 20%;
  padding: 1vw;
  border-radius: 12vw;
  background-color: hsl(176deg, 50%, 47%);
  font-weight: 700;
  color: white;
  border: none;
  padding: 0;
  background-color: transparent;
}
body .main-intro-buttons-bookmark:hover {
  background-color: hsl(176deg, 72%, 28%);
  cursor: pointer;
}
body .main-intro-buttons-bookmark-icon {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  body .header {
    padding: 3.5em 0;
    width: 85%;
  }
  body .header-menuicon {
    display: none;
  }
  body .header-img {
    height: auto;
  }
  body .header-img img, body .header-img source {
    object-fit: contain;
    width: 100%;
  }
  body .header-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    background-color: transparent;
  }
  body .header-list-link {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0;
    border: none;
    color: white;
  }
}

/*# sourceMappingURL=main.css.map */
