* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Commissioner", sans-serif;
}

body {
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  width: 90%;
}
body .header.open::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 100vh;
  background: linear-gradient(-180deg, hsl(0deg, 0%, 0%), #fff);
  opacity: 0.7;
}
body .header-img {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  z-index: -1;
  width: 100%;
}
body .header-img source, body .header-img img {
  object-fit: contain;
  width: 100%;
}
body .header-logo {
  width: min(50%, 11.5em);
  z-index: 2;
}
body .header-menuicon {
  width: min(8%, 2.2em);
  object-fit: contain;
  z-index: 2;
}
body .header-list {
  display: none;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 8em;
  bottom: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
body .header-list-link {
  font-size: 1.5rem;
  padding: 1.7em 1.2em;
  text-decoration: none;
  border-bottom: 1.2px solid #ccc;
  color: hsl(0deg, 0%, 0%);
  font-weight: 500;
}
body .header-list-link:last-of-type {
  border-bottom: none;
}
body .header.open .header-list {
  display: flex;
  z-index: 2;
}
body .main {
  margin-top: 30vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
body .main-intro {
  background-color: white;
  padding: 4em 1.3em;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3em;
  text-align: center;
  position: relative;
}
body .main-intro-icon {
  position: absolute;
  top: -2em;
  width: min(17%, 4.2em);
}
body .main-intro-title {
  word-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 0%);
}
body .main-intro-desc {
  color: hsl(0deg, 0%, 48%);
  font-size: 0.9rem;
  line-height: 1.8;
}
body .main-intro-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body .main-intro-buttons-back {
  width: 75%;
  padding: 1vw;
  border-radius: 12vw;
  background-color: hsl(176deg, 50%, 47%);
  font-weight: 700;
  color: white;
  border: none;
  max-width: 20em;
}
body .main-intro-buttons-back:hover {
  background-color: hsl(176deg, 72%, 28%);
  cursor: pointer;
}
body .main-intro-buttons-back.disabled {
  background-color: #ccc;
  cursor: auto;
}
body .main-intro-buttons-bookmark {
  width: 20%;
  padding: 1vw;
  border-radius: 12vw;
  background-color: transparent;
  font-weight: 700;
  color: hsl(0deg, 0%, 48%);
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .main-intro-buttons-bookmark:hover {
  cursor: pointer;
}
body .main-intro-buttons-bookmark.disabled {
  background-color: #ccc;
  cursor: auto;
}
body .main-intro-buttons-bookmark span {
  display: none;
}
body .main-intro-buttons-bookmark.tick svg circle {
  fill: hsl(176deg, 72%, 28%);
}
body .main-intro-buttons-bookmark.tick svg path {
  fill: white;
}
body .main-intro-buttons-bookmark.tick span {
  color: hsl(176deg, 72%, 28%);
}
body .main-graph {
  background-color: white;
  padding: 4em 1.3em;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
}
body .main-graph > hr {
  width: 17%;
  height: 0.1em;
  border-radius: 10px;
  border: none;
  background-color: #ccc;
}
body .main-graph > div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .main-graph-progress {
  width: 100%;
  height: 1em;
  position: relative;
}
body .main-graph-progress hr {
  border: none;
  height: 100%;
  border-radius: 15px;
}
body .main-graph-progress-done {
  background-color: hsl(176deg, 50%, 47%);
  position: absolute;
}
body .main-graph-progress-total {
  background-color: rgb(220, 220, 220);
}
body .main-content {
  background-color: white;
  padding: 4em 1.3em;
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
body .main-content-text {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
body .main-content-text-title {
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
}
body .main-content-text-desc {
  color: hsl(0deg, 0%, 48%);
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.8px;
  font-size: 0.94rem;
}
body .main-content-items {
  border: 1px #ccc solid;
  border-radius: 15px;
  padding: 2.3em 1.6em;
  display: grid;
  grid-template-columns: repeat(auto, 4);
  gap: 1.5em;
}
body .main-content-items-wrap {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
body .main-content-items-head {
  display: flex;
  flex-direction: column;
}
body .main-content-items-head-title {
  font-weight: 700;
}
body .main-content-items-head-money {
  color: hsl(176deg, 50%, 47%);
  font-weight: 500;
}
body .main-content-items-desc {
  color: hsl(0deg, 0%, 48%);
  line-height: 1.8;
}
body .main-content-items-remaining {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 0.2em;
}
body .main-content-items-remaining span {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: hsl(0deg, 0%, 48%);
}
body .main-content-items-select {
  width: 55%;
  padding: 1vw;
  border-radius: 12vw;
  background-color: hsl(176deg, 50%, 47%);
  font-weight: 700;
  color: white;
  border: none;
  padding: 1.35em;
  max-width: 15em;
}
body .main-content-items-select:hover {
  background-color: hsl(176deg, 72%, 28%);
  cursor: pointer;
}
body .main-content-items-select.disabled {
  background-color: #ccc;
  cursor: auto;
}

@media screen and (min-width: 1440px) {
  body .header {
    padding: 3.5em 0;
    width: 85%;
  }
  body .header-menuicon {
    display: none;
  }
  body .header-img {
    height: auto;
  }
  body .header-img img, body .header-img source {
    object-fit: contain;
    width: 100%;
  }
  body .header-list {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    background-color: transparent;
  }
  body .header-list-link {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0;
    border: none;
    color: white;
  }
  body .main {
    width: 55%;
    margin-top: 10vw;
  }
  body .main-intro-buttons-back {
    padding: 1.4vw;
    max-width: 17em;
  }
  body .main-intro-buttons-bookmark {
    background-color: rgb(216, 214, 214);
    padding: 1.4vw;
    width: 20.5%;
    position: relative;
  }
  body .main-intro-buttons-bookmark-icon {
    position: absolute;
    left: 0.05em;
  }
  body .main-intro-buttons-bookmark span {
    display: inline;
  }
  body .main-intro-buttons-bookmark.tick {
    background-color: hsl(175deg, 40%, 88%);
  }
  body .main-graph {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    gap: 3em;
  }
  body .main-graph > hr {
    width: 0.1em;
    height: 5em;
  }
  body .main-graph > div:not(:last-of-type) {
    width: 24%;
  }
  body .main-content-items {
    grid-template: "head head" "desc desc" "remain select";
  }
  body .main-content-items-head {
    grid-area: head;
    flex-direction: row;
    justify-content: space-between;
  }
  body .main-content-items-desc {
    grid-area: desc;
  }
  body .main-content-items-remaining {
    grid-area: remain;
  }
  body .main-content-items-select {
    grid-area: select;
    justify-self: flex-end;
  }
}

/*# sourceMappingURL=main.css.map */
