@use "variables.scss" as var;
@mixin absolute($top: auto, $bottom: auto, $left: auto, $right: auto, $z: auto) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    z-index: $z;
}
@mixin flex-center($gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}
@mixin style-card($position, $gap: 0) {
    background-color: white;
    padding: 4em 1.3em;
    border-radius: 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
    @if $position == "center" {
        text-align: center;
    }
    // @else {
    //     align-items: flex-start;
    // }
}
@mixin style-button($width, 
    $background-color: var.$clr-bck-main-button, $color: var.$clr-txt-main-button) {
    width: $width;
    // padding: 1.4em;
    padding: var.$padding-button-mobile;
    border-radius: 12vw;
    // height: 3.8em;

    background-color: $background-color;
    font-weight: 700;
    color: $color;
    border: none;
    &:hover {
        @if $background-color == var.$clr-bck-main-button {
            background-color: var.$clr-bck-hover-main-button;
            
        }
        cursor: pointer;
        // color: $color-hover;
    }
    &.disabled {
        background-color: #ccc;
        cursor: auto;
    }
}