@use "variables.scss" as var;
@use "mixins.scss" as mi;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Commissioner', sans-serif;
}
body {
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
        width: 90%;
        // background: url("../images/image-hero-mobile.jpg") center/ contain no-repeat;
        &.open::after {
            content: " ";
            @include mi.absolute(0, auto, 0, 0, -1);
            height: 100vh;

            background: linear-gradient(-180deg, var.$clr-txt-main, #fff);
            opacity: 0.5;
        }
        &-img {
            @include mi.absolute(0, auto, 0, auto, -1);
            width: 100%;
            source, img {
                object-fit: contain;
                width: 100%;
            }
        }
        &-logo {
            width: min(50%, 11.5em);
        }
        &-menuicon {
            width: min(8%, 2.2em);
            object-fit: contain;
        }
        &-list {
            display: none;
            flex-direction: column;
            width: 90%;
            @include mi.absolute(6em);

            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            &-link {
                font-size: 1.5rem;
                padding: 1.7em 1.2em;
                text-decoration: none;
                border-bottom: 1.2px solid #ccc;
                color: var.$clr-txt-main;
                font-weight: 500;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
        &.open .header-list {
            display: flex;
        }
    }
    .main {
        // margin-top: 50vw;
        margin-top: 30vw;
        width: 90%;
        &-intro {
            width: 100%;
            @include mi.style-card("center");
            gap: 1.3em;
            position: relative;
            &-icon {
                position: absolute;
                top: -2em;
                width: min(17%, 4.2em);
            }
            &-title {
                word-spacing: 2px;
                font-weight: 700;
                font-size: 1.5rem;
                color: var.$clr-txt-main;
            }
            &-desc {
                color: var.$clr-txt-desc;
                font-size: 0.9rem;
                line-height: 1.8;
            }
            &-buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-back {
                    @include mi.style-button(75%);
                    max-width: 20em;
                }
                &-bookmark {
                    @include mi.style-button(17%, transparent, var.$clr-txt-bookmark-button);
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    & span {
                        display: none;
                    }
                    &.tick {
                        & svg {
                            & circle {
                                fill: var.$clr-bck-hover-bookmark-icon-button;
                            }
                            & path {
                                fill: var.$clr-bck-hover-bookmark-iconpath-button;
                            }
                        }
                        & span {
                            color: var.$clr-txt-hover-bookmark-button;
                        }
                    }
                }
            }
        }

    }
}
// @media screen and (min-width: 700px){
//     body {
//         .header {
//             &-img {
//                 // height: 30em;
//                 padding-top: 62.5%;
//                 & img, & source {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
@media screen and (min-width: 1440px){
    body {
        .header {
            padding: 3.5em 0;
            width: 85%;
            &-menuicon {
                display: none;
            }
            &-img {
                height: auto;
                & img, & source {
                    object-fit: contain;
                    width: 100%;
                }

            }
            &-list {
                position: relative;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 3em;
                background-color: transparent;
                &-link {
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: 0;
                    border: none;
                    color: white;
                }
            }
        }
        .main {
            width: 55%;
            margin-top: 10vw;
            &-intro {
                &-buttons {
                    &-back {
                        padding: var.$padding-button-desktop;
                        max-width: 17em;
                    }
                    &-bookmark {
                        background-color: var.$clr-bck-bookmark-button;
                        padding: var.$padding-button-desktop;
                        width: 24%;
                        
                        position: relative;
                        &-icon {
                            position: absolute;
                            left: 0.06em;
                        }
                        & span {
                            display: inline;
                        }
                        &.tick {
                            background-color: var.$clr-bck-hover-bookmark-button;
                        }
                    }
                }
            }
        }
    }
}