@use "variables.scss" as var;
@use "mixins.scss" as mi;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Commissioner', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
        width: 90%;
        // background: url("../images/image-hero-mobile.jpg") center/ contain no-repeat;
        &.open::after {
            content: " ";
            @include mi.absolute(0, auto, 0, 0, -1);
            height: 100vh;

            background: linear-gradient(-180deg, var.$black, #fff);
            opacity: 0.5;
        }
        &-img {
            @include mi.absolute(0, auto, 0, auto, -1);
            width: 100%;
            source, img {
                object-fit: contain;
                width: 100%;
            }
        }
        &-logo {
            width: min(50%, 11.5em);
        }
        &-menuicon {
            width: min(8%, 2.2em);
            object-fit: contain;
        }
        &-list {
            display: none;
            flex-direction: column;
            width: 90%;
            @include mi.absolute(6em);

            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            &-link {
                font-size: 1.5rem;
                padding: 1.7em 1.2em;
                text-decoration: none;
                border-bottom: 1.2px solid #ccc;
                color: var.$black;
                font-weight: 500;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
        &.open .header-list {
            display: flex;
        }
    }
    .main {
        // margin-top: 50vw;
        margin-top: 30vw;
        width: 90%;
        &-intro {
            width: 100%;
            @include mi.style-card("center");
            gap: 1.3em;
            &-icon {
                width: 14%;
            }
            &-title {
                word-spacing: 2px;
                font-weight: 700;
                font-size: 1.5rem;
            }
            &-desc {
                color: var.$dark-gray;
                font-size: 0.9rem;
                line-height: 1.8;
            }
            &-buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-back {
                    @include mi.style-button(75%);
                }
                &-bookmark {
                    @include mi.style-button(20%);
                    padding: 0;
                    background-color: transparent;
                    &-icon {
                        width: 100%;
                    }

                }
            }
        }

    }
}
// @media screen and (min-width: 700px){
//     body {
//         .header {
//             &-img {
//                 // height: 30em;
//                 padding-top: 62.5%;
//                 & img, & source {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
@media screen and (min-width: 1440px){
    body {
        .header {
            padding: 3.5em 0;
            width: 85%;
            &-menuicon {
                display: none;
            }
            &-img {
                height: auto;
                & img, & source {
                    object-fit: contain;
                    width: 100%;
                }

            }
            &-list {
                position: relative;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 3em;
                background-color: transparent;
                &-link {
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: 0;
                    border: none;
                    color: white;
                }
            }
        }
        .main {
            // margin-top: 100em;
        }
    }
}