@use "variables.scss" as var;
@use "mixins.scss" as mi;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Commissioner', sans-serif;
}
body {
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 0;
        width: 90%;
        &.open::before {
            content: " ";
            @include mi.absolute(0, auto, 0, 0, 1);
            position: fixed;
            height: 100vh;

            background: linear-gradient(-180deg, var.$clr-txt-main, #fff);
            opacity: 0.7;
        }
        &-img {
            @include mi.absolute(0, auto, 0, auto, -1);
            width: 100%;
            source, img {
                object-fit: contain;
                width: 100%;
            }
        }
        &-logo {
            width: min(50%, 11.5em);
            z-index: 2;
        }
        &-menuicon {
            width: min(8%, 2.2em);
            object-fit: contain;
            z-index: 2;
        }
        &-list {
            display: none;
            flex-direction: column;
            width: 90%;
            @include mi.absolute(8em);

            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            &-link {
                font-size: 1.5rem;
                padding: 1.7em 1.2em;
                text-decoration: none;
                border-bottom: 1.2px solid #ccc;
                color: var.$clr-txt-main;
                font-weight: 500;
                &:last-of-type {
                    border-bottom: none;
                }
            }
        }
        &.open .header-list {
            display: flex;
            z-index: 2;
        }
    }
    .main {
        // margin-top: 50vw;
        margin-top: 30vw;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        &-intro {
            @include mi.style-card("center", 1.3em);
            position: relative;
            &-icon {
                position: absolute;
                top: -2em;
                width: min(17%, 4.2em);
            }
            &-title {
                word-spacing: 2px;
                font-weight: 700;
                font-size: 1.5rem;
                color: var.$clr-txt-main;
            }
            &-desc {
                color: var.$clr-txt-desc;
                font-size: 0.9rem;
                line-height: 1.8;
            }
            &-buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                &-back {
                    @include mi.style-button(75%);
                    max-width: 20em;
                }
                &-bookmark {
                    @include mi.style-button(20%, transparent, var.$clr-txt-bookmark-button);
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    & span {
                        display: none;
                    }
                    &.tick {
                        & svg {
                            & circle {
                                fill: var.$clr-bck-hover-bookmark-icon-button;
                            }
                            & path {
                                fill: var.$clr-bck-hover-bookmark-iconpath-button;
                            }
                        }
                        & span {
                            color: var.$clr-txt-hover-bookmark-button;
                        }
                    }
                }
            }
        }
        &-graph {
            @include mi.style-card("center", 2em);
            & > hr {
                width: 17%;
                height: 0.1em;
                border-radius: 10px;
                border: none;
                background-color: var.$clr-border-graph;
            }
            & > div:not(:last-of-type) {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
            &-progress {
                width: 100%;
                height: 1em;
                position: relative;
                & hr {
                    border: none;
                    height: 100%;
                    border-radius: 15px;
                }
                &-done {
                    background-color: var.$clr-progress-done;
                    position: absolute;
                }
                &-total {
                    background-color: var.$clr-progress-total;
                }
            }
        }
        &-content {
            @include mi.style-card("start", 4em);
            &-text {
                display: flex;
                flex-direction: column;
                gap: 1.4em;
                &-title {
                    color: var.$clr-txt-main;
                    font-weight: 700;
                }
                &-desc {
                    color: var.$clr-txt-desc;
                    font-weight: 400;
                    line-height: 2;
                    letter-spacing: 0.8px;
                    font-size: 0.94rem;
                }
            }
            &-items {
                &-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                }
                &.disabled {
                    opacity: 0.5;
                }
                border: 1px var.$clr-border-graph solid;
                border-radius: 15px;
                padding: 2.3em 1.6em;
                display: grid;
                grid-template-columns: repeat(auto, 4);
                gap: 1.5em;
                &-head {
                    display: flex;
                    flex-direction: column;
                    &-title {
                        font-weight: 700;
                    }
                    &-money {
                        color: var.$clr-txt-items-small;
                        font-weight: 500;
                    }
                }
                &-desc {
                    color: var.$clr-txt-desc;
                    line-height: 1.8;
                }
                &-remaining {
                    font-size: 1.7rem;
                    display: flex;
                    align-items: center;
                    gap: 0.2em;
                    & span {
                        font-size: 1rem;
                        font-weight: 500;
                        letter-spacing: 0.8px;
                        color: var.$clr-txt-desc;
                    }
                }
                &-select {
                    @include mi.style-button(55%);
                    padding: 1.35em;
                    max-width: 15em;
                }
            }
        }

    }
}
// @media screen and (min-width: 700px){
//     body {
//         .header {
//             &-img {
//                 // height: 30em;
//                 padding-top: 62.5%;
//                 & img, & source {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
@media screen and (min-width: 1440px){
    body {
        .header {
            padding: 3.5em 0;
            width: 85%;
            &-menuicon {
                display: none;
            }
            &-img {
                height: auto;
                & img, & source {
                    object-fit: contain;
                    width: 100%;
                }

            }
            &-list {
                position: relative;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 3em;
                background-color: transparent;
                &-link {
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: 0;
                    border: none;
                    color: white;
                }
            }
        }
        .main {
            width: 55%;
            margin-top: 10vw;
            &-intro {
                &-buttons {
                    &-back {
                        padding: var.$padding-button-desktop;
                        max-width: 17em;
                    }
                    &-bookmark {
                        background-color: var.$clr-bck-bookmark-button;
                        padding: var.$padding-button-desktop;
                        width: 20.5%;
                        
                        position: relative;
                        &-icon {
                            position: absolute;
                            left: 0.05em;
                        }
                        & span {
                            display: inline;
                        }
                        &.tick {
                            background-color: var.$clr-bck-hover-bookmark-button;
                        }
                    }
                }
            }
            &-graph {
                flex-direction: row;
                justify-content: flex-start;
                text-align: left;
                flex-wrap: wrap;
                gap: 3em;
                & > hr {
                    width: 0.1em;
                    height: 5em;
                }
                & > div:not(:last-of-type) {
                    width: 24%;
                }
            }
            &-content {
                &-items {
                    grid-template: 
                    "head head"
                    "desc desc"
                    "remain select";
                    &-head {
                        grid-area: head;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                    &-desc {
                        grid-area: desc;
                    }
                    &-remaining {
                        grid-area: remain;
                    }
                    &-select {
                        grid-area: select;
                        justify-self: flex-end;
                    }
                }
            }
        }
    }
}